<?xml version="1.0"?>
<configuration>
 <connectionStrings>
   <!--<add name="District7" connectionString="host=127.0.0.1;database=mhroramr;Encoding=UNICODE;User id=postgres;password=postgres;port=5433;Pooling=false; " providerName="Npgsql"/>
   <add name="District27" connectionString="host=127.0.0.1;database=mhrorbee;Encoding=UNICODE;User id=postgres;password=postgres;port=5433;Pooling=false; " providerName="Npgsql"/>
    <add name="District6" connectionString="host=10.153.8.18;database=mhrorwas;Encoding=UNICODE;User id=postgres;password=postgres;port=5433;Pooling=false; " providerName="Npgsql"/>
    <add name="District30" connectionString="host=10.153.8.173;database=mhrorsol;Encoding=UNICODE;User id=postgres;password=postgres;port=5433;Pooling=false; " providerName="Npgsql"/>
   <add name="District26" connectionString="host=127.0.0.1;database=mhrorahm;Encoding=UNICODE;User id=postgres;password=postgres;port=5433;Pooling=false; " providerName="Npgsql"/>
   <add name="District25" connectionString="host=127.0.0.1;database=mhrorpun;Encoding=UNICODE;User id=postgres;password=postgres;port=5433;Pooling=false; " providerName="Npgsql"/>
    <add name="District8" connectionString="host=127.0.0.1;database=mhrorwar_tr;Encoding=UNICODE;User id=postgres;password=postgres;port=5433;Pooling=false; " providerName="Npgsql"/>
   <add name="District20" connectionString="host=127.0.0.1;database=mhrornas_tr;Encoding=UNICODE;User id=postgres;password=postgres;port=5433;Pooling=false; " providerName="Npgsql"/>
    <add name="District5" connectionString="host=127.0.0.1;database=mhrorako;Encoding=UNICODE;User id=postgres;password=postgres;port=5433;Pooling=false; " providerName="Npgsql"/>
    <add name="District13" connectionString="host=127.0.0.1;database=mhrorcha_jiv;Encoding=UNICODE;User id=postgres;password=postgres;port=5433;Pooling=false; " providerName="Npgsql"/>
   <add name="District24" connectionString="host=127.0.0.1;database=mhrorrai_tr;Encoding=UNICODE;User id=postgres;password=postgres;port=5433;Pooling=false; " providerName="Npgsql" /> -->
   
     <!--<add name="District13" connectionString="host=127.0.0.1;database=mhrorcha_jiv;Encoding=UNICODE;User id=postgres;password=postgres;port=5432;Pooling=false; " providerName="Npgsql"/>-->
   <add name="District13" connectionString="host=127.0.0.1;database=mhrorcha;Encoding=UNICODE;User id=postgres;password=postgres;port=5432;Pooling=false; " providerName="Npgsql"/>

   <!--<add name="District27" connectionString="host=10.153.8.80;database=mhrorbee;Encoding=UNICODE;User id=postgres;password=postgres;port=5432;Pooling=false; " providerName="Npgsql"/>-->
    <add name="LRSRO Connection StringMutation" connectionString="Encoding=UNICODE;User id=postgres;password=postgres;port=5432; Connect Timeout=0; CommandTimeout=0" providerName="Devart.Data.PostgreSql"/>
   
    <add name="Linkage Connection String" connectionString="Encoding=UNICODE;User id=postgres;password=postgres;port=5432; Connect Timeout=0; CommandTimeout=0" providerName="Devart.Data.PostgreSql"/>
    <add name="database Connection String" connectionString="Encoding=UNICODE;User id=postgres;password=postgres;port=5432; Connect Timeout=0; CommandTimeout=0" providerName="Devart.Data.PostgreSql"/>
   
    <add name="Linkage Connection String1" connectionString="host=127.0.0.1;database=linkgedb_emuroll;Encoding=UNICODE;User id=postgres;password=postgres;port=5432;Connect Timeout=0; CommandTimeout=0" providerName="Devart.Data.PostgreSql"/>
   
    <!--<add name="Linkage Connection String1" connectionString="host=10.153.8.173;database=LinkageDB;Encoding=UNICODE;User id=postgres;password=postgres;port=5433;Connect Timeout=0; CommandTimeout=0" providerName="Devart.Data.PostgreSql"/>-->
   
    <add name="Tahsil Connection String" connectionString="Encoding=UNICODE;User id=postgres;password=postgres;port=5432;connect timeout=0; CommandTimeout=0" providerName="Devart.Data.PostgreSql"/>
    <add name="FAQ Connection String" connectionString="host=127.0.0.1;database=HelpDeskDB;Encoding=UNICODE;User id=postgres;password=postgres;port=5432;Connect Timeout=0; CommandTimeout=0" providerName="Devart.Data.PostgreSql"/>
   <!--<add name="FAQ Connection String" connectionString="host=127.0.0.1;database=HelpDeskDB;Encoding=UNICODE;User id=postgres;password=postgres;port=5432;Connect Timeout=0; CommandTimeout=0" providerName="Devart.Data.PostgreSql"/>-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <!--<customErrors mode="RemoteOnly" defaultRedirect="~/pgLogout.aspx"/>-->
    <siteMap>
      <providers>
        <add name="SiteMapDataSource1" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web.sitemap"/>
        <add name="SiteMapDataSource2" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web2.sitemap"/>
        <add name="SiteMapDataSource3" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Web3.sitemap"/>
      </providers>
    </siteMap>
    <sessionState timeout="60" mode="InProc" regenerateExpiredSessionId="false"/>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add location="None" varyByParam="None"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <!--Tag for HttpOnlyCookies
    <httpCookies httpOnlyCookies="true" lockItem="true"/>-->
    <!--End Tag for HttpOnlyCookies-->
    <pages validateRequest="true" viewStateEncryptionMode="Always" enableViewState="true" enableViewStateMac="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
       
        <add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.VisualBasic.Compatibility, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.VisualBasic.Compatibility.Data, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <httpHandlers>
      <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="AntiCSRF" type="Idunno.AntiCsrf.AntiCsrfModule, Idunno.AntiCsrf"/>
    </httpModules>
    <authentication mode="Windows"/>
    <httpRuntime maxRequestLength="524288" executionTimeout="120000"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="DENY"/>
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
  </system.webServer>
  <location allowOverride="true" inheritInChildApplications="true">
    <appSettings>
      <add key="vs:EnableBrowserLink" value="false"/>
      <add key="CrystalImageCleaner-AutoStart" value="true"/>
      <add key="CrystalImageCleaner-Sleep" value="60000"/>
      <add key="CrystalImageCleaner-Age" value="120000"/>
      <add key="AllDup" value="सर्व कॉलम डुप्लीकेट असलेल्या नोंदी,"/>
      <add key="PKDup" value="फ़क्त प्रायमरी कॉलम डुप्लीकेट असलेल्या नोंदीं,"/>
      <add key="DI" value="डेटा टेबल्स इंटेग्रिटी,"/>
      <add key="drive" value="E:"/>
      <add key="ipcheck" value="false"/>
      <add key="appname" value="reEdit"/>
      <add key="update_date" value="Y"/>
    </appSettings>
  </location>
  <system.webServer/>
</configuration>